@model IEnumerable<u23688794_HW03.Models.customers>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <tr>
        <th>
            <p>First name</p>
        </th>
        <th>
            <p>Last name</p>
        </th>
        <th>
            <p>Phone</p>
        </th>
        <th>
            <p>Email</p>
        </th>
        <th>
            <p>Street</p>
        </th>
        <th>
            <p>Street</p>
        </th>
        <th>
            <p>State</p>
        </th>
        <th>
            <p>Zip code</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zip_code)
        </td>
        <td>           
            @Html.ActionLink("Details", "Details", new { id=item.customer_id }) 
        </td>
    </tr>
}

</table>
